spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/mintiz
    username: sa
    password:
    driver-class-name: org.h2.Driver
    initialize : true
  devtools:
    livereload:
      enabled: true
    restart:
      enabled: true
  thymeleaf:
    cache: false

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB

logging.level:
  org.hibernate.SQL: debug
  #org.hibernate.type: trace

file:
  #dir: C:/dev/img/
  #dir: C:/Users/ADMIN/Documents/img/
  dir: /Users/jimin/dev/img
