<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Write</title>
    <script type="text/javascript" th:src="@{/js/write.js}" src="../js/write.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/write.css}" href="../css/write.css">
</head>
<body>
<div id="page-wrapper">
    <header th:replace="fragments.html :: main-header"></header>
</div>

<div id="content">
    <div id="WritingHeader">
        <h2 class="title">글 수정하기</h2>
    </div>

    <form th:action="@{/post/{postId}/update(postId=${postId})}" th:object="${updateForm}" name="articles" method="post" enctype="multipart/form-data">
        <section id="tag-section">
            <select th:field="*{tagName}" name="tagName" id="tagName" onchange=addPostScriptTag();>
                <option value='' selected>-- 선택 --</option>
                <option th:value="일상" value='daily'>일상</option>
                <option th:value="후기" value='postscript'>맛집 후기</option>
            </select>

            <div id="postscript-tag" style="display:none">
                <select th:field="*{location}" name='location'>
                    <option value='' selected>-- 지역 선택 --</option>
                    <option th:value='서울'>서울</option>
                    <option th:value='경기'>경기</option>
                    <option th:value='인천'>인천</option>
                    <option th:value='강원'>강원</option>
                    <option th:value='충북'>충북</option>
                    <option th:value='충남'>충남</option>
                    <option th:value='경북'>경북</option>
                    <option th:value='경남'>경남</option>
                    <option th:value='대구'>대구</option>
                    <option th:value='대전'>대전</option>
                    <option th:value='세종'>세종</option>
                    <option th:value='전북'>전북</option>
                    <option th:value='전남'>전남</option>
                    <option th:value='광주'>광주</option>
                    <option th:value='울산'>울산</option>
                    <option th:value='부산'>부산</option>
                    <option th:value='제주'>제주</option>
                </select>
            </div>
        </section>
        <!--
        <div class="button">
            <label for="chooseImg">
                <img class="addImg" src="../img/addPicture.png" width='80' height='80'>
            </label>
        </div>
        -->
        <div class="button">
            <img class="addImg" src="../img/addPicture.png" width='80' height='80'>
        </div>
        <input type="file" th:field="*{newImages}" multiple="multiple" accept="image/*">
        <br>
        <textarea th:field ="*{content}" th:placeholder="*{content}" class="textbox" placeholder="내용을 입력해주세요" cols='120' rows='20' style="resize: none;"></textarea>
        <button class="UploadButton UploadButton--basemint size_default" type="submit" >
            <span class="UploadButton__txt">등록</span>
        </button>
    </form>
</div>
</body>
</html>