<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <title>MINTiZ</title>
  <script type="text/javascript"  th:src="@{/js/writingdetails.js}" src="../js/writingdetails.js"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/writingdetails.css}" href="../css/writingdetails.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  <script>
    $(document).ready(function(){
      $('.slider').bxSlider({
        slideWidth: 500, //이미지 박스 크기설정
      });
    });
  </script>


</head>

<body>
<!--전체를 감싸는 태그-->
<div id="page-wrapper">
  <header th:replace="fragments.html :: main-header"></header>
</div>


<div id="content" th:object="${PostResDto}">
  <!--카테고리-->

  <nav class="categories" >
    <ol>
      <li class="category"><span style="font-weight: bold; font-size: large" th:text="*{tagName}"><a></a></span></li>
      <li class="category"><a><img id="place" src="../img/location.png" width='20' height='20'/><span style="font-size:medium" th:text="*{location}">경기도</span></a></li>
    </ol>
  </nav>


  <div class = "body-layout">
    <div class="slider">
      <li th:each = "imageFile : ${PostResDto.imageFiles}" >
        <img th:src= "|/post/images/${imageFile.getUploadFilePath()}|" src="img/prev.jpg"  width="609" height="420" /></li>
    </div>

    <!--작성자-->
    <div class="writer">
      <table width = 300 height = 20>
        <tr>
          <th rowspan="2"><img id="profile_img1" src="../img/profile.png" width='50' height='50'/></th>
          <td>
            <strong><div class="writer_name" th:text="*{user.getName()}">Younghyun</div></strong>
            <strong><div class="write_date" th:text="*{writeDate}">2021.11.11</div></strong>
          </td>
        </tr>
      </table>

      <div class="interaction">
        <span class = "control hidden" id = "control_id{{ forloop.counter0 }}">
          <button id="rewrite_btn" th:onclick="|location.href='@{/post/{postId}/update(postId=${PostResDto.postId})}'|">
            <img id="rewrite" src="../img/modifying.png" width='25' height='25' alt="수정">
          </button>
          <form  action="#" th:action="@{/post/{postId}/delete(postId=${PostResDto.postId})}" th:method="post" style="display:inline-block;">
            <button id="trash_btn" type="submit" onclick="return confirm('정말 삭제하시겠습니까?')">
              <img id="trash" src="../img/delete.png"  width='25' height='25' alt="삭제">
            </button>
          </form>
          <!--북마크 부분-->
          <div th:if="${posts.checkBookmark eq true}" >
              <div  th:id="|clickedStar${posts.postId}|" style="display: inline"
                    th:onclick="|javascript:bookmark('${posts.postId}','${user.id}')|">
                  <img class="bookmark_img" src="../img/clicked_star.png" alt="북마크이미지" >
              </div>
              <div   th:id="|star${posts.postId}|" style="display: none"
                     th:onclick="|javascript:noneBookmark('${posts.postId}','${user.id}')|">
                  <img class="bookmark_img" src="../img/star.png" alt="북마크이미지">
              </div>
          </div>

          <div th:if="${posts.checkBookmark eq false}" >
              <div th:id="|clickedStar${posts.postId}|" style="display: none"
                   th:onclick="|javascript:bookmark('${posts.postId}','${user.id}')|">
                  <img class="bookmark_img" src="../img/clicked_star.png" alt="북마크이미지" >
              </div>
              <div th:id="|star${posts.postId}|" style="display: inline"
                   th:onclick="|javascript:noneBookmark('${posts.postId}','${user.id}')|">
                  <img class="bookmark_img" src="../img/star.png" alt="북마크이미지">
              </div>
          </div>
        </span>
      </div>

    </div>

    <!--작성 글-->
    <div class="writing" th:utext="*{content}">
      민트 초코 케이크 간단 후기!!!!!<br>
      내가 예상한 민트 초코맛보다 조금 덜해서 아쉬움<br>
      민초단이 아닌 사람들에게도 부담스럽지 않아 취향 저격 가능할 듯<br>
      크림이 엄청 많아서 먹다보면 좀 느끼해서 물릴 수도 있을 것 같다.<br>
      부드러운 빵시트가 시원하고 상쾌한 민트 크림이랑 전체적으로 잘 어울림<br>
      별 4개 ★★★★☆
    </div>

    <div class = "comments">
      <hr align="center" color="#9b9090">
      <div id="form-commentInfo" class = "comment-row">
        <div id="comment-count">댓글
          <span id = "comments-count" th:text="${commentSize}">2</span>
          <div class = "comment-row">
            <form role="form" th:action="@{/post/{postId}/comments(postId=${PostResDto.postId})}" method="post">
              <textarea id = "comment-input" name = "comment-input" placeholder="댓글을 입력해 주세요."></textarea>
              <button type = "submit" id="submit_btn" name="submit_btn">등록</button>
            </form>
          </div>
          <div class = "comment-row" th:each="comment,iterStat : ${commentList}">
            <table width = 300 height = 50>
              <tr>
                <th rowspan="2"><img id="profile_img" src="../img/profile.png" width='45' height='45'/></th>
                <td>
                  <div class="comment-name" th:text="${comment.getUserName()}">나영현</div>
                  <div class="comment-date" th:text="${comment.getUpdateTime()}">2021-11-17 10:16</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="comment-content" th:text="${comment.getContent()}" >Comment1</div>
                </td>
              </tr>
            </table>
            <div class="deleteOrmodify">
              <span class = "modify" id = "modify">
                <button id="modify_btn" th:onclick="|location.href='@{/post/{postId}/comments/{commentId}/update(postId=${PostResDto.postId}, commentId=${comment.getCommentId()})}'|">
                  <img id="modifyImg" src="../img/modifying.png" width='20' height='20' alt="수정">
                </button>
                <form action="#" th:action="@{/post/{postId}/comments/{commentId}/delete(postId=${PostResDto.postId}, commentId=${comment.getCommentId()})}"
                       th:method="post" style="display:inline-block;" >
                  <button id="delete_btn" type="submit" onclick="return confirm('정말 삭제하시겠습니까?')">
                    <img id="delete" src="../img/delete.png"  width='20' height='20' alt="삭제">
                  </button>
                </form>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</body>
</html>

