
<!DOCTYPE html>
<html>
<head>
  <title>Password-find</title>
  <script type="text/javascript" src="../"></script>
  <link rel="stylesheet" type="text/css" href="../css/login.css">
</head>
<body>
<h1 align="center">비밀번호 찾기</h1>
<br>
<section class="login-input-section-wrap">
  <form name="login" method="POST">
    <div class="login-input-wrap">
      <input placeholder="아이디를 입력해주세요" type="text"></input>
    </div>
    <div class="login-input-wrap password-wrap">
      <input placeholder="이메일을 입력해주세요" type="text"></input>
    </div>
    <div class="login-button-wrap">
      <button>비밀번호 찾기</button>
    </div>
</section>
<hr>

</body>
</html>