<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MINTiZ</title>
    <script type="text/javascript" th:href="@{/js/login.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
</head>
<body>
<div id="page-wrapper">
    <header th:replace="fragments.html :: #login-header">
        <!--고정 헤더-->
        <hgroup align="center">
            <h1 align="center" class="master-title">회원 가입</h1>
        </hgroup>
    </header>
</div>

<br>
<section class="login-input-section-wrap">
    <form name="login" id="login_id" method="POST" th:action th:object="${userLoginDto}">
        <!--
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}"
               th:text="${err}">전체 오류 메시지</p>
        </div>
        -->
        <div class="login-input-wrap">
            <input placeholder="아이디를 입력해주세요" type="text" id="loginId"
                   th:field="*{loginId}">
        </div>
        <div class="login-input-wrap password-wrap">
            <input placeholder="비밀번호를 입력해주세요" type="password"  id="password"
                   th:field="*{password}">
        </div>
        <div align="center">
            <div class="login-button-wrap">
                <button type="submit">Sign in</button>
            </div>
        </div>

    </form>
    <div class="find-id-password">
        <p class="forget-msg">
            <button id="findId" onclick="location.href='/user/findId'" > 아이디 찾기 </button>
            <button id="findPW" onclick="location.href='/user/findPW'" > 비밀번호 찾기  </button>
            <button id="join" onclick="location.href='/test'"> 회원가입 (민초테스트 Start) </button>
        </p>
    </div>
</section>



</body>
</html>