.mylist{
    margin-left: 10px;
    /*padding: 10px;
    border-style:solid;*/
    border-color:#fff;
    /*border-color:#BDE4DC;*/
}
.myarticlelist{
    color: var(--mintiz-brown);
}
.article-container{
    /*background-color: var(--mintiz-mint);*/
    margin-top: 10px;
    padding: auto;
    padding-inline-start: 0%;
}

.mylist li{
    display: inline-block;
    margin: 10px;
    color:#fff;
    border-radius: 5px;
}

.pagebutton{
    position: relative;
    margin: 0%;
    width: 200px;
    height: 200px;
    cursor:pointer;
}
.pagebutton img{
    width:100%;
    height:100%;
    border-radius: 10px;
    object-fit:cover;
}
/*
.imgbox {
    margin: 0%;
    width: 200px;
    height: 200px;
}
.imgbox img{
    width:100%;
    height:100%;
    border-radius: 10px;
    object-fit:cover;
}
*/
#intopage {
    visibility: hidden;
}
/* 추가된 부분 */
.darkness {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius: 10px;
    background:#ffffff;
    opacity:0;
    transition:all .6s linear;
}

/* 추가된 부분 */
.btn-plus {
    position: absolute;
    top:70px;
    left:70px;
    width:55px;
    height:55px;
    border-radius:50%;
    text-align:center;
    opacity:0;
    transform:scale(2);
    transition:all .3s linear;
}

/* 추가된 부분 */
.btn-plus span {
    font-size:2.3em;
    color:#ffffff;
    user-select:none;
}

.pagebutton:hover .darkness{
    opacity:0.4;
}
.pagebutton:hover .btn-plus {
    opacity:1;
    transform:scale(1);
}