:root{
    --mintiz-mint: #BDE4DC;
    --mintiz-brown: #817171;
}

#page-wrapper{
    background:white;
    margin:20px 0; padding: 10px 20px;
    border-radius:5px;
    box-shadow:0 2px 6px rgba(100, 100, 100, 0.3);
}
.master-title{
    font-size:30px;
    color:var(--mintiz-brown);
}


body{
    width:960px; margin:0 auto;
    background:var(--mintiz-mint);
}
#content{
    overflow:hidden;
    background:white;
    margin:10px 0; padding: 0px 20px;
    border-radius:5px;
    box-shadow:0 2px 6px rgba(100, 100, 100, 0.3);
}
.mypage{
    float: right;
}

.line{
    color:#d1c3c3;
    border-style:dashed;
    margin-top: 13px;
}