:root{
    --body-background-color: #ffffff;
    --font-color: #4e4e4e;
    --border-gray-color : #dadada;
    --naver-green-color: #BDE4DC;
    --naver-green-border-color: #06b350;

    --mintiz-mint: #BDE4DC;
    --mintiz-brown: #817171;
}

*{
    margin:0; padding:0;
}
a{
    text-decoration:none;
}
li{
    list-style:none;
}

.mypage{
    float: right;
}

p {	font-size:20px;
    font-weight:bolder;

}

#img1 {
    float: left;
    margin: 30px 30px;
}


body{
    width:960px; margin:0 auto;
    background:var(--mintiz-mint);
}
#page-wrapper{
    background:white;
    margin:20px 0; padding: 10px 20px;
    border-radius:5px;
    box-shadow:0 2px 6px rgba(100, 100, 100, 0.3);
}
.master-title{
    text-align:center;
    font-size:30px;
    color:var(--mintiz-brown);
}


#search-section{
    display: flex;
    flex-direction: column;
    text-align:center;
    margin-bottom: 5px;
}
.search input{
    width:430px;
    height:30px;
    font-size: 14px;
    border: solid 3px var(--mintiz-mint);
}
.search button{
    width: 60px;
    height:30px;
    font-size: 18px;
    color: white;
    background: var(--mintiz-mint);
    border: solid 3px var(--mintiz-mint);
}
.tag{
    padding-top: 5px;
}
.tag button {
    background: var(--mintiz-brown);
    color: white;
    padding: 5px;
    border-radius:5px;
    margin: 0px 2px;
    border: 0;
    outline: 0;
    box-shadow:0 2px 6px rgba(100, 100, 100, 0.3);
}

#content{
    align-items: center;
    overflow:hidden;
    background:white;
    margin:10px 0; padding: 10px 20px;
    border-radius:5px;
    box-shadow:0 2px 6px rgba(100, 100, 100, 0.3);
}

.contents{
    max-width: 614px;
    border: 1px solid rgba(0,0,0,0.09);
    border-radius: 3px;
    margin-bottom: 60px;
    overflow: hidden;
    background: white;
}

.contents .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0,0,0,0.09);
}

.contents img {
    max-width: 100%;
    height: auto;
    display: block;
}

.contents .top .profile_img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow:hidden;
}

.bookmark_img{
    width: 32px;
    height: 32px;
}

.comment_img{
    width: 32px;
    height: 32px;
    margin-left: 5px;

}


.contents .top .profile_img img{
    width: 100%;
}


.contents .top .user_container{
    display: flex;
    justify-content: center;
}

.contents .user_container{
    display: flex;
    margin-top: 5px;
}
.contents .timer{
    font-size: 10px;
    letter-spacing: 0.2px;
    color:#999;
    padding: 5px 5px;
    border-bottom: 1px solid rgba(0,0,0,0.09);
}
#main-section{
    display: flex;
    justify-content: center;
}
.post-image{
    display: block;
    text-align:center;
}

#cross{
    text-align:center;
    font-size:20px;
    font-weight:bolder;
}

.article-header{
    padding:5px 0;
}
.article-title{
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 10px;
}

.article-date{
    font-size:13px;
}
.article-body{
    font-size:14px;
}


.contents{
    max-width: 550px;
    border: 1px solid rgba(0,0,0,0.09);
    border-radius: 3px;
    margin-bottom: 30px;
    background: white;
    padding: 10px 20px 10px;
    margin-top: 30px;
    box-shadow:0 2px 6px rgba(100, 100, 100, 0.3);
}

.img_section{
    margin-bottom: 10px;
}

.contents .comment_container .comment .nick_name .country{
    margin-right: 10px;
}

.m_text{
    font-size: 14px;
    font-weight: bold;
}

.s_text{
    font-size: 12px;
}

.profile-container{
    margin-left: 15px;
}


.contents .toggle_box{
    text-align: center;
    position: absolute;
    right: 0;
    top: 20px;
    border: 1px solid rgba(0,0,0,0.09);
    border-radius: 3px;
    display: none;
}

.hideme
{
    opacity:0;
}

.fadeinleft {
    opacity:0;
    margin-left:-300px;
    max-width:100%;
}