:root{
    --mintiz-mint: #BDE4DC;
    --mintiz-brown: #817171;
}

#page-wrapper{
    background:white;
    margin:20px 0; padding: 10px 20px;
    border-radius:5px;
    box-shadow:0 2px 6px rgba(100, 100, 100, 0.3);
}
.master-title{
    font-size:30px;
    color:var(--mintiz-brown);
}

.profile-calendar{
    margin-top: 20px;
}

body{
    width:960px; margin:0 auto;
    background:var(--mintiz-mint);
}
#content{
    overflow:hidden;
    background:white;
    margin:10px 0; padding: 0px 20px;
    border-radius:5px;
    box-shadow:0 2px 6px rgba(100, 100, 100, 0.3);
}


/* 본문 내용의 레이아웃, 글씨 색*/
.body-layout{
    display: grid;
    place-content: center;
    margin: 13px;
    margin-bottom: 30px;
    color:var(--mintiz-brown);
    font-family: 'Pretendard-Regular';
}

.layout{
    text-align: center;
    align-items: center;
    align-content: center;
}


.basic-text{
    margin: 13px;
    color:var(--mintiz-brown);
    font-family: 'Pretendard-Regular';
}
