:root{
    --mintiz-mint: #BDE4DC;
    --mintiz-brown: #817171;
}
@font-face {
    font-family: 'Y_Spotlight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'Y_Spotlight', cursive;
}

body{
    width:650px; margin: 20px auto;
    align-items: center;
    background:var(--mintiz-mint);
}

#testmain{
    text-align: center;
    overflow:hidden;
    background:white;
    margin:20px 0; padding: 20px 20px;
    border-radius:5px;
    box-shadow:0 2px 6px rgba(100, 100, 100, 0.3);
}

h1{
    font-size: 30px;
}
p{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 20px;
}
.testBtn.size_default {
    min-width: 40px;
    height: 35px;
    margin-left: 10px;
    padding: 0 12px;
    font-size: 18px;
    line-height: 36px;
}
.testBtn--basemint {
    color: var(--mintiz-brown);
}
.testBtn{
    padding: 15px 100px;
    margin:10px 4px;
    color: var(--mintiz-brown);
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display:inline-block;
}
.testBtn::before {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 0px;
    width: 100%;
    height: 5px;
    background: var(--mintiz-mint);
    display: block;
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}

.testBtn:hover::before {
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
}