<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- nav -->
<nav th:fragment="main-nav">
    <ul class="menubar menu-font">
        <li><a class = "btn-1" th:href="@{/mypage}">마이페이지</a></li>
        <li>|</li>
        <li><a class = "btn-1" th:href="@{/writing}">내가 쓴 글</a></li>
        <li>|</li>
        <li><a class = "btn-1" th:href="@{/bookmark}">북마크 목록</a></li>
    </ul>
</nav>

<!-- 고정헤더 -->
<header th:fragment="main-header" id="main-header">
    <a class="mypage" th:href="@{/mypage}">
        <img width="25px" height="25px" th:src="@{/img/mypage.png}">
    </a>
    <hgroup align="center" >
        <a th:href="@{/main}">
            <img width="210px" height="100px" th:src="@{/img/MINTiZ_logo.png}" >
        </a>
    </hgroup>
</header>
