<!DOCTYPE html>
<html>
<head>
    <title>화면기술</title>
    <script type="text/javascript" th:src="@{/js/calendar.js}"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/basic.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/calendar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/font.css}">
</head>


<script th:inline="javascript">
    /*<![CDATA[*/
    let months = [[${postMonth}]];
    let dates = [[${postDate}]];
    let years = [[${postYear}]];
    /*]]>*/
</script>

<body onload=build(months,dates,years); >


<div id="page-wrapper">
    <header th:replace="fragments.html :: main-header"></header>
</div>

<!--화면 주요 내용-->
<div id="content">
    <div class="layout">
        <nav th:replace="fragments.html :: main-nav"></nav>
    </div>


    <!--마이페이지-->
    <div class="mint-calendar-font title">내 정보</div>
    <!--프로필 사진-->
    <div align="center">
        <img th:src="|/post/images/${user.profile.getUploadFilePath()}|" src="../image/임시.png" width="170" height="170"/>
    </div>
    <div class="profile-layout">

        <!--개인 정보-->
        <div>
            <div class="basic-text">
                <span><b>LV. &nbsp</b></span>
                <span th:text="${user.level}" > 민초 타노스</span>
            </div>
            <div class="basic-text">

                <span><b>닉네임</b></span>
                <!--
                <label> 짐인님 </label>
                -->

                <span class="input-layout" type="text" value="빙글빙글"  th:text="${user.name}" style="width:70px"> </span>


            </div>
            <div class="basic-text">
                <label><b>이메일 </b></label>
                <span th:text="${user.email}"> test@test.com</span>
            </div>

        </div>
    </div>

    <!--로그아웃 버튼-->
    <div class="mint-calendar-font">
        <input id = "logout" class="basic-button menu-font" type="button" value="로그아웃" onclick="logout()">
    </div>


    <hr class="line"/>


    <!--캘린더-->
    <div class="mint-calendar-font title">MINT DAY&#127807;</div>
    <div class="layout">
        <table class = "mint-calendar font-c" id="calendar" align="center">
            <tr>
                <td class="calendar-font"><label onclick="beforem()" id="before" ></label></td>
                <td colspan="5" id="yearmonth"></td>
                <td class="calendar-font" ><label onclick="nextm()" id="next"></label></td>
            </tr>

        </table>
    </div>
    <script th:src="@{/js/mypage.js}"></script>
</div>
</body>
</html>